{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Epure</title>
  </head>
  <body>
    <header>
    <a href="{% url 'index' %}">
      <img class="Logo" src="{% static 'img/epure.jpg' %}" alt="Logo Epure" />
    </a>

    {% if user.is_authenticated%} 
    <a href="{% url 'page_user' %}">{{ user.username }}</a>
    <a href="{% url 'logout' %}">deconnexion</a>
    {% else %}
    <div class="Connexion">
    <button class="Boutton" type="button"> <a  href="{% url 'login' %}">Connexion</a></button>
    <button class="Boutton" type="button"><a  href="{% url 'signup' %}">S'inscrire</a></button>
   {% endif %} {% if user.cart %}</div>
    <a href="{% url 'cart' %}">voir panier ({{ user.cart.order.count }})</a>
    {% endif %}
</header>

