{% extends 'base.html' %} {% block content %}

<div id="product-list">
  <form action="" method="POST">
    {% csrf_token %}
    <input
      type="text"
      name="product_slug"
      list="products"
      placeholder="Rechercher un produit" />
    <datalist id="products">
      {% for product in products %}
      <option value="{{ product.slug }}">{% endfor %}</option>
    </datalist>

      <form method="GET">
        <label for="sort_by">Trier par :</label>
        <select name="sort_by" onchange="this.form.submit()">
            <option value="">-- Sélectionner --</option>
            <option value="price_asc" {% if sort_by == "price_asc" %}selected{% endif %}>Prix croissant</option>
            <option value="price_desc" {% if sort_by == "price_desc" %}selected{% endif %}>Prix décroissant</option>
            <option value="rating_asc" {% if sort_by == "rating_asc" %}selected{% endif %}>Note croissante</option>
            <option value="rating_desc" {% if sort_by == "rating_desc" %}selected{% endif %}>Note décroissante</option>
        </select>
    </form>
    

  <!-- Affichage du produit trouvé (si existant) -->
  {% if product %}
  <h3>Skin trouver</h3>
  <div class="product">
    <h3 class="product_name">{{ product.name }}</h3>
    <a href="{{ product.get_absolute_url }}">
      <img
        src="{{ product.thumbnail.url }}"
        alt="{{ product.name }}"
        style="max-width: 300px" />
    </a>
  </div>
  {% elif product is not None %}
  <p>Aucun produit trouvé pour ce critère.</p>
  {% endif %}

  <div class="product-list">
    {% for product in products %}
    <div class="product">
        <h3>{{ product.name }}</h3>
        <p>Note : {{ product.rating }}</p>
        <a href="{{ product.get_absolute_url }}">
            {% if product.thumbnail %}
                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 300px;">
            {% else %}
                <p>Aucune image disponible</p>
            {% endif %}
        </a>            
    </div>
{% empty %}
    <p>Aucun produit trouvé.</p>
{% endfor %}
</div>
{% endblock %}